In [4]:
import json

fd = open("record.json","r")
txt = fd.read()
records = json.loads(txt)

In [5]:
records

{'1001': {'author': 'Benjamin', 'name': "Anna's Tales", 'pr': 600, 'qn': 50},
 '1002': {'author': 'Franklin', 'name': 'Cindrella', 'pr': 800, 'qn': 50},
 '1003': {'author': 'Thomas', 'name': 'Fairy Corner', 'pr': 850, 'qn': 100},
 '1004': {'author': 'Tom Jane',
  'name': 'Sherlock stories',
  'pr': 1005,
  'qn': 1000},
 '1005': {'author': 'Tomstloy',
  'name': 'War and Peace',
  'pr': 1100,
  'qn': 100},
 '1006': {'author': 'Vikranth', 'name': 'Panchathanthra', 'pr': 980, 'qn': 10},
 '1007': {'author': 'Malala',
  'name': 'My name is Malala',
  'pr': 1500,
  'qn': 100},
 '1008': {'author': 'Abdul Kalam', 'name': 'India 2020', 'pr': 799, 'qn': 50},
 '1009': {'author': 'Georgia',
  'name': 'At the Dark Sight',
  'pr': 699,
  'qn': 60},
 '1010': {'author': 'Jack Aurthur',
  'name': 'Candes Corner',
  'pr': 999,
  'qn': 60},
 '1011': {'author': 'Nivin Das', 'name': 'Super30', 'pr': 889, 'qn': 60},
 '1012': {'author': 'Cresenda Christ',
  'name': 'An end to Begin',
  'pr': 788,
  'qn': 60},
 '1013': {'author': 'Shakespeare',
  'name': 'Julius Ceaser',
  'pr': 1250,
  'qn': 40},
 '1014': {'author': 'Ghandi',
  'name': 'Ceaseless Crusader',
  'pr': 1050,
  'qn': 30},
 '1015': {'author': 'Allen Roff', 'name': 'What if?', 'pr': 1100, 'qn': 90},
 '1016': {'author': 'Tony Evan',
  'name': 'Survival for the fittest',
  'pr': 1025,
  'qn': 100},
 '1017': {'author': 'Ramnoff', 'name': '50 shades', 'pr': 899, 'qn': 80},
 '1018': {'author': 'Rowling', 'name': 'Harry Potter', 'pr': 765, 'qn': 80},
 '1019': {'author': 'Jack Joe',
  'name': 'The Lost Island',
  'pr': 1000,
  'qn': 80},
 '1020': {'author': 'Christy Quill',
  'name': 'Richie rich',
  'pr': 1120,
  'qn': 80},
 '1021': {'author': 'Johan R', 'name': 'Dr. Dolittle', 'pr': 1300, 'qn': 70},
 '1022': {'author': 'Rogers Stark',
  'name': 'Final Destination',
  'pr': 1100,
  'qn': 70},
 '1023': {'author': 'Cathrine', 'name': 'SciFi_1', 'pr': 1115, 'qn': 40},
 '1024': {'author': 'Ardrin CR', 'name': 'Risk at 101', 'pr': 1000, 'qn': 50},
 '1025': {'author': 'Clara Froster',
  'name': 'A day with BOOBOO',
  'pr': 999,
  'qn': 25},
 '1026': {'author': 'Andres Cresseda', 'name': '1939', 'pr': 990, 'qn': 30},
 '1027': {'author': 'San Zatura',
  'name': 'Mystersious Wanda ',
  'pr': 980,
  'qn': 45},
 '1028': {'author': 'Baek Parker',
  'name': 'High School 2013',
  'pr': 945,
  'qn': 35},
 '1029': {'author': 'Stephen Sans',
  'name': 'Doctor Strange',
  'pr': 1000,
  'qn': 35},
 '1030': {'author': 'Peter Jon', 'name': 'Who Am I?', 'pr': 1005, 'qn': 50}}

In [15]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Book: ", records[ui_prod]['name'])
print("Author: ", records[ui_prod]['author'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1002
Enter the quantity: 2
Book:  Cindrella
Author:  Franklin
Price:  800
Billing Amount:  1600

In [20]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

In [21]:
sales={'id' : ui_prod, 'book':records[ui_prod]['name'], 'author': records[ui_prod]['author'], 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

In [22]:
sale = json.dumps(sales)

In [23]:
sales

{'amount': 1600,
 'author': 'Franklin',
 'book': 'Cindrella',
 'id': '1002',
 'qn': 2}